<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoJaLMW2mQgl4vT2i8XF5O2gxDIbYrA-A</string>
	<key>GCM_SENDER_ID</key>
	<string>745146958704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.opdManagement</string>
	<key>PROJECT_ID</key>
	<string>opd-management-6c33f</string>
	<key>STORAGE_BUCKET</key>
	<string>opd-management-6c33f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745146958704:ios:c7c08e9f6627d0f7d085b5</string>
</dict>
</plist>